@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
*{
  margin: 0 auto;
}
.search__container {
padding-top: 5px;
text-align: center;
}
.search__input {
margin: 10px 10px 10px 10px;
width: 50%;
padding: 12px 24px;
background-color: transparent;
transition: transform 250ms ease-in-out;
font-size: 14px;
line-height: 18px;
color: #575756;
background-color: transparent;
background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg);
background-repeat: no-repeat;
background-size: 18px 18px;
background-position: 95% center;
border-radius: 50px;
border: 1px solid #575756;
transition: all 250ms ease-in-out;
backface-visibility: hidden;
transform-style: preserve-3d;
}
.search__input::placeholder {
color: rgba(87, 87, 86, 0.8);
text-transform: uppercase;
letter-spacing: 1.5px;
}
.search__input:hover,
.search__input:focus {
padding: 5px 0;
outline: 0;
border: 1px solid transparent;
border-bottom: 1px solid #575756;
border-radius: 0;
background-position: 100% center;
}
.row{
color: white;
}
.logo{
text-align: center;
}
/*version grand ecran*/
@media screen and (min-width: 1900px){
.article{
width: 800px;
display: block;
}
}
/*version mobile*/
@media screen and (min-width: 200px) and (max-width: 640px){
.article{
width: 500px;
display: block;
}
}
.bloc{
display: inline;
}
@media screen and (min-width: 200px) and (max-width: 640px){
.bloc{
display: block;
}
#slogan_header {
-webkit-animation-name: textedefil; -webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 20s; -webkit-animation-timing-function :linear;
-moz-animation-name: textedefil;
-moz-animation-iteration-count: infinite; -moz-animation-duration: 20s;
-moz-animation-timing-function :linear; position : relative;
width: 87%;
}
@-webkit-keyframes textedefil {
from { left: 275px; } to { left: -1250px; }
}
@-moz-keyframes textedefil {
from { left: 275px; } to { left: -1250px; }
}
.news h4{
font-family: 'PT Mono', monospace;
margin: 5px 0 5px 5px;
}
.pub > img{
width: 35%;
}
.pub{
text-align: center;
}
.outer-box {
width: 700px;
height: 100px;
display:block;
position:relative;
text-align: center;
margin: 0 0 0 0;
}
.inner-box {
background: rgb(255, 255, 255);
height: 100%;
width: 85%;
opacity: 0.7;
top: 150px;
left: 0;
position: absolute;
padding: 0;
margin: 0 0 0 10px;
line-height: 100px;
}
.images-miniatures{
margin: 5px 10px 5px 10px;
position: relative;
text-align: center;
}
.image{
display: block;
height: auto;
}
.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: #008CBA;
}
.images-miniatures:hover .overlay {
opacity: 0.7;
}
.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
.les-miniatures {
display: flex;
justify-content: space-around;
}
.form-connexion{
width:340px;
height:270px;
background:#e6e6e6;
border-radius:8px;
box-shadow:0 0 10px -10px #000;
margin:calc(40vh - 220px) auto;
padding:20px 30px;max-width:calc(100vw - 40px);
box-sizing:border-box;
font-family:'Montserrat',sans-serif;position:relative
}
.form-connexion h2{
margin:10px 0;
padding-bottom:10px;
width:180px;
color:#78788c;
border-bottom:3px solid #78788c
}
.form-connexion h5{
margin: 10px 0;
color:#78788c;
}
.form-connexion input{
width:100%;
padding:10px;
box-sizing:border-box;
background:none;
outline:none;
resize:none;
border:0;
font-family:'Montserrat',sans-serif;
transition:all .3s;
border-bottom:2px solid #bebed2
}
.form-connexion input:focus{
border-bottom:2px solid #78788c
}
.form-connexion button{
float:right;
padding:8px 12px;
margin:8px 0 0;
font-family:'Montserrat',sans-serif;
border:2px solid #78788c;
background:0;
color:#5a5a6e;
cursor:pointer;
transition:all .3s
}
.form-connexion button:hover{
background:#78788c;
color:#fff
}
.form-inscription{
width:340px;
height:660px;
background:#e6e6e6;
border-radius:8px;
box-shadow:0 0 10px -10px #000;
margin:calc(40vh - 220px) auto;
padding:20px 30px;max-width:calc(100vw - 40px);
box-sizing:border-box;
font-family:'Montserrat',sans-serif;position:relative
}
.form-inscription h2{
margin:10px 0;
padding-bottom:10px;
width:180px;
color:#78788c;
border-bottom:3px solid #78788c
}
.form-inscription h5{
margin: 10px 0;
color:#78788c;
}
.form-inscription input{
width:100%;
padding:10px;
box-sizing:border-box;
background:none;
outline:none;
resize:none;
border:0;
font-family:'Montserrat',sans-serif;
transition:all .3s;
border-bottom:2px solid #bebed2
}
.form-inscription input:focus{
border-bottom:2px solid #78788c
}
.form-inscription button{
float:right;
padding:8px 12px;
margin:8px 0 0;
font-family:'Montserrat',sans-serif;
border:2px solid #78788c;
background:0;
color:#5a5a6e;
cursor:pointer;
transition:all .3s
}
.form-inscription button:hover{
background:#78788c;
color:#fff
}
.subscribe-wrapper {
margin: 30px 120px 30px 120px;
position: relative;
height: 100px;
padding: 30px 200px 30px 200px;
background-color: #fff;
border-radius: 4px;
color: #333;
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.subscribe-wrapper:after {
position: relative;
/*content: "";*/
right: -10px;
bottom: 71px;
width: 0;
height: 0;
}
.subscribe-wrapper h4 {
text-align: center;
font-size: 20px;
font-weight: bold;
letter-spacing: 3px;
line-height: 28px;
text-transform: uppercase;
}
.subscribe-wrapper input {
position: absolute;
bottom: 30px;
border: none;
border-bottom: 1px solid #d4d4d4;
padding: 10px;
width: 65%;
background: transparent;
transition: all 0.25s ease;
}
.subscribe-wrapper input:focus {
outline: none;
border-bottom: 1px solid #46c0b5;
}
.subscribe-wrapper .submit-btn {
text-transform: uppercase;;
position: absolute;
border-radius: 30px;
border-bottom-right-radius: 0;
border-top-right-radius: 0;
background-color: #46c0b5;
color: #fff;
padding: 12px 25px;
display: inline-block;
font-size: 12px;
font-weight: bold;
letter-spacing: 2px;
right: -10px;
bottom: 30px;
cursor: pointer;
transition: all 0.25s ease;
box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);
}
.subscribe-wrapper .submit-btn:hover {
background-color: #8e62dc;
}
.subscribe-wrapper input{
font-size: 20px;
font-family: 'Montserrat',sans-serif;;
color: grey;
}
.copy p{
margin: 5px 5px 5px 5px;
font-size: 15px;
font-family: 'Montserrat',sans-serif;;
color: grey;
text-align: center;
}
.social-network .facebook {
background-position: 0 0px;
}
.social-network .youtube {
background-position: -49px 0px;
}
.social-network .twitter {
background-position: -96px 0px;
}
.social-network li{
display: inline-block;
}
.social-network a{
width: 45px;
height: 45px;
display: block;
background: url(images/mesimages.png) no-repeat;
}
.footer{
text-align: center;
background:#fff;
position:absolute;
width:100%;
padding-top:50px;
height:50px;
text-align: center;
}
.liens a{
text-align: center;
text-decoration: none;
font-family: 'Montserrat',sans-serif;
color: #46c0b5
}
.liens li{
list-style-type: none;
display: inline-block;
text-align: center;
}
.img-footer{
margin: 0 5px 0 5px;
}
.our-history{
margin: 5% 15%;
text-align: justify;
font-family: "Roboto", arial, sans-serif;
font-weight: 300;
font-size: 15px;
line-height: 26px;
color: #868f90;
}
p{
text-align: justify;
font-family: "Roboto", arial, sans-serif;
font-weight: 300;
font-size: 15px;
line-height: 26px;
color: #868f90;
}
}